# ===============================
# Python Virtual Environment
# ===============================
venv/
**/venv/
__pycache__/
*.py[cod]
*.so
*.log

# ===============================
# VSCode files
# ===============================
.vscode/

# ===============================
# System files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Jupyter Notebook Checkpoints
# ===============================
.ipynb_checkpoints/

# ===============================
# Compiled C extensions
# ===============================
*.pyd
*.dll
*.dylib
*.lib
*.exe

# ===============================
# Environments or runtime files
# ===============================
.env
*.env
.env.*

# ===============================
# Pytest / Coverage
# ===============================
.cache/
coverage.*
htmlcov/
*.cover
*.py,cover

# ===============================
# Backup / Misc
# ===============================
*.bak
*.tmp
*.swp
